<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="MicCamWatch"
    Manufacturer="Roman Cuisset"
    Version="$(Version)"
    UpgradeCode="8FC9317B-4517-4E83-9F52-CF3257584BF6"
    Scope="perUser">
    <SummaryInformation Description="MicCamWatch Windows privacy monitor" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of MicCamWatch is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="ProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="MicCamWatch">
          <Component Id="MainExecutable" Guid="*">
            <File Id="MicCamWatchExecutable" Source="$(Executable)" Name="mcw.exe" KeyPath="yes">
              <Shortcut
                Id="StartMenuShortcut"
                Directory="ProgramMenuFolder"
                Name="MicCamWatch"
                Description="MicCamWatch Privacy Control Center"
                Arguments="tray"
                WorkingDirectory="INSTALLFOLDER"
                Advertise="no">
                <ShortcutProperty Key="System.AppUserModel.ID" Value="MicCamWatch.MicCamWatch" />
              </Shortcut>
            </File>
            <RegistryKey Root="HKCU" Key="Software\Classes\AppUserModelId\MicCamWatch.MicCamWatch">
              <RegistryValue Name="DisplayName" Type="string" Value="MicCamWatch" />
              <RegistryValue Name="ShowInSettings" Type="integer" Value="1" />
            </RegistryKey>
            <Environment
              Id="PathEnvironment"
              Name="PATH"
              Value="[INSTALLFOLDER]"
              Part="last"
              Action="set"
              System="no"
              Permanent="no" />
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>

    <Feature Id="ProductFeature" Title="MicCamWatch" Level="1">
      <ComponentRef Id="MainExecutable" />
    </Feature>
  </Package>
</Wix>
